header {
    height: 220px;
    /* background-color: #a1e44d; */
    background-color: white;
}

#app-name{
    font-size: 60px;
    margin: 0;
    padding: 20px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

#nav-bar{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#nav-bar-links{
    display: flex;
    padding: 0;
}

#nav-bar-links > li {
    list-style: none;
    margin-left: 10px;
    margin-right: 12px;
}

header > nav > ul > li > a {
    text-decoration: none;
}

header > nav > ul > li > a:visited {
    color:black;
    transition: 0.2s;
}

header > nav > ul > li > a:hover {
    color:grey;
    transition: 0.2s;
}

header > nav > ul > li > a:active {
    color:#fd7e14;
    transition: 0.2s;
}


header > h1 > a {
    padding: 10px;
    text-decoration: none;
    border: 2px solid black;
    display: flex;
    margin: 0;
}

header > h1 > a:visited {
    color:black;
}

header > h1 > a {
    color:black;
}


#code-title{
    margin: 0;
    padding: 0;
    color: #fd7e14;
}

#tasty-title{
    margin: 0;
    padding: 0;
    padding-right: 10px;
}





/* 
.restaurant-card{
    background-color: #e8e8e8;
    padding: 2em;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 2em; */