{% extends 'base.html' %}

{% block content %}
<h2>New Dish</h2>

<form action="/dishes" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">

        <label for="price">Price:</label>
        <input type="number" step="0.01" id="price" name="price">

        <label for="description">Description:</label>
        <input type="text" id="description" name="description">

        <label for="restaurant">Restaurant:</label>
        <select name="restaurant" id="restaurant">
            {% for restaurant in restaurants %}
            <option value="{{restaurant.id}}">{{restaurant.name}}</option>
            {% endfor %}
        </select>

    </div>

    <div>
        <input type="submit">
    </div>

</form>
    
{% endblock %}