{% extends 'base.html' %}

{% block content %}
<h1>Restaurants</h1>

<p>
  <a href="/restaurants/new">New Restaurant</a>
</p>

<ul>
  {% for restaurant in restaurants %}
  <li>
      <p>{{ restaurant.name }} - {{ restaurant.cuisine_id.cuisine }}</p>
      <p>{{ restaurant.address }}</p>
      <p>{{ restaurant.phone_number }}</p>
      <p>{{ restaurant.availability }}</p>
      
      <section>
          <a href="/restaurants/{{ restaurant.id }}/edit">Edit</a>
          <form action="/restaurants/{{ restaurant.id }}/delete" method="POST">
            <input type="submit" value="Delete"/>
        </form>
    </section>
</li>
{% endfor %}
</ul>


{% endblock %}