{% extends 'base.html' %}

{% block content %}
<section>
    <h2 id="index-cust-header">Restaurants</h2>
    <p id="new-cust">
        <a class='btn' href="/restaurants/new">New Restaurant</a>
    </p>
    {% for restaurant in restaurants %}
    <div class="card">
        <h3>{{ restaurant.name }} - {{ restaurant.cuisine.cuisine }}</h3>
        <p>{{ restaurant.address }}</p>
        <p>{{ restaurant.phone_number }}</p>
        <p>
            {% if restaurant.availability == True %}
            <p>Open</p>
            {% endif %}
            {% if restaurant.availability == False %}
            <p>Closed</p>
            {% endif %}


        </p>
        <a class='btn menu' href="/dishes">Menu</a>
        
        <div class="button-container">
            <a class="btn" href="/restaurants/{{ restaurant.id }}/edit">Edit</a>
            <form action="/restaurants/{{ restaurant.id }}/delete" method="POST">
            <input class='btn danger' type="submit" value="Delete"/>
        </form>
        </div>
    </div>
    {% endfor %}

</section>

{% endblock %}