{% extends "base.html" %}
{% block content %}

<h2>Update Order</h2>


<form action="/orders/{{ order.id }}" method="POST">
    <div>
        <section>
            <label for="order_timestamp">Order Time:</label>
            <input type="datetime-local" id="order_timestamp" name="order_timestamp" value="{{ order.order_timestamp }}">
        </section>

        <section>
            <label for="customer">Select a Customer:</label>
            <select name="customer_id" id="customer">
              {% for customer in customers %}
              <option value="{{ customer.id }}" {% if order.customer_id == customer.id %} selected="selected"{% endif %}>{{ customer.name }}</option>
              {% endfor %}
            </select>
        </section>

        <section>
            <label for="restaurant">Select a Restaurant:</label>
            <select name="restaurant_id" id="restaurant">
              {% for restaurant in restaurants %}
              <option value="{{ restaurant.id }}">{{ restaurant.name }}</option>
              {% endfor %}
            </select>
        </section>

        <input type="submit">
    </div>
</form>

{% endblock %}