{% extends 'base.html' %}

{% block content %}


<section>
    <div class="order-header">

    <h1>Orders</h1>

    <p>
    <a class="btn" href="/orders/new">New Order</a>
    </p>
    </div>

    {% for order in orders %}
    <div class="card">
        <h3>Order for: {{ order.customer.name }}</h3>
        <ul>
            <li>
                <p>Restaurant: {{order.restaurant.name}}</p>
            </li>

            <li>
                <p>Order time: {{order.order_timestamp}}</p>
            </li>

            <li>
                <div>
                    <label for="dishes">Order dishes:</label>

                    {% for dish in order_dishes %}
                    {% if dish.order.id == order.id %}
                    <p>{{ dish.dish.name }}</p>
                    {% endif %}
                    {% endfor %}

                </div>
            </li>

            <div class="button-container">
                <a class="btn" href="/orders/{{ order.id }}/edit">Edit</a>
                <form action="/orders/{{ order.id }}/delete" method="POST">
                    <input class="btn danger" type="submit" value="Delete"/>
                </form>
            </div>
        </ul>
    </div>
    {% endfor %}
</section>


{% endblock %}


