{% extends 'base.html' %}

{% block content %}
<h1>Orders</h1>

<p>
  <a href="/orders/new">New Order</a>
</p>

{% for order in orders %}
<p>Order for: {{ order.customer.name }}</p>

<section>
    <ul>
        <li>
            <p>Restaurant: {{order.restaurant.name}}</p>
        </li>

        <li>
            <p>Order time: {{order.order_timestamp}}</p>
        </li>
    
        <section>
            <a href="/orders/{{ order.id }}/edit">Edit</a>
            <form action="/orders/{{ order.id }}/delete" method="POST">
                <input type="submit" value="Delete"/>
            </form>
        </section>
    </ul>
</section>
{% endfor %}


{% endblock %}