{% extends 'base.html' %}

{% block content %}
<h1>Add a New Order</h1>

<form action="/orders" method="post">
    <div>
        <p>Order Details:</p>
        <label for="order_timestamp">Order time:</label>
        <input type="datetime-local" id="order_timestamp" name="order_timestamp">

        <label for="customer">Select a Customer:</label>
        <select name="customer" id="customer">
          {% for customer in customers %}
          <option value="{{ customer.id }}">{{ customer.name }}</option>
          {% endfor %}
        </select>

        <label for="restaurant">Select a Restaurant:</label>
        <select name="restaurant" id="restaurant">
          {% for restaurant in restaurants %}
          <option value="{{ restaurant.id }}">{{ restaurant.name }}</option>
          {% endfor %}
        </select>

    </div>

    <div>
        <input type='submit'>
    </div>
</form>

{% endblock %}

